.formContainer {
  padding: 40px 60px;
  display: flex;
  justify-content: center;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 50vw;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}
.inputGroup input,
.inputGroup select {
  border-radius: 8px;
  padding: 8px 6px;
}

.formContainer form button {
  border-radius: 8px;
  padding: 8px 6px;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: 700;
  background-color: var(--primary);
}

@media screen and (max-width: 768px) {
  .formContainer form {
    width: 80vw;
  }
}
