.formContainer {
  padding: 40px 60px;
  display: flex;
  /* justify-content: center; */
}

.formContainer form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}
.inputGroup input {
  /* height: 24px; */
  border-radius: 8px;
  padding: 8px 6px;
}

.formContainer form button {
  border-radius: 8px;
  padding: 8px 6px;
  cursor: pointer;
}
