.watchListContainer {
  position: relative;
  background-color: var(--header-bg);
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 40px 80px;
}

.watchListContainer h3 {
  font-size: 32px;
  font-weight: 700;
  color: white;
}

@media screen and (max-width: 768px) {
  .watchListContainer {
    padding: 6px 28px;
  }
}
