.listContainer {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.scrollerContainer {
  position: relative;
}

.leftArrow {
  position: absolute;
  left: -24px;
  top: 40%;
  color: white;
  background-color: var(--body-bg);
  padding: 10px;
  border-radius: 50%;
  border: 1px solid var(--outline-border);
  cursor: pointer;
}
.leftArrow span {
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.rightArrow {
  position: absolute;
  right: -24px;
  top: 40%;
  color: white;
  background-color: var(--body-bg);
  padding: 10px;
  border-radius: 50%;
  border: 1px solid var(--outline-border);
  cursor: pointer;
}
.rightArrow span {
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .leftArrow {
    display: none;
  }
  .rightArrow {
    display: none;
  }
}
